/* navigation */
#navbar{
    
    flex-direction: column;
    align-items: center;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0 7px;
  
}
#navbar::before{

 height: 79px;
}
/* home section */


#home{
    height: 390px;
    padding: 5px 43px;
}
#home::before{
    height: 480px;
    
}
#home p{
    font-size: 13px;
}
#home h3{
    font-size: 1rem;
}
/* service section  */
#customer{
    flex-direction: column;

}
#customer .box{
    width:auto;
}
/* companies section */
#ourcompanies{
    flex-wrap: wrap;
}
#ourcompanies img{
    height: 72px;
    width: 87px;
    padding: 10px;
}
.companies-section::before{
    height: 42%;
}

/* utility classes */
.h-primary{
    font-size: 26px;
}


